<section class="min-h-screen flex items-center justify-center bg-gray-100">

    <div class="bg-white shadow-xl rounded-2xl p-10 w-full max-w-md">

        <h2 class="text-3xl font-bold text-center text-cyan-900 mb-8">
            Iniciar Sesión
        </h2>

        <!-- ERROR -->
        <div *ngIf="errorMessage" class="bg-red-100 text-red-600 p-3 rounded-lg mb-4 text-sm text-center">
            {{ errorMessage }}
        </div>

        <!-- EMAIL -->
        <div class="mb-5">
            <label class="block mb-2 font-semibold text-gray-700">
                Correo electrónico
            </label>
            <input type="email" [(ngModel)]="email"
                class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-700"
                placeholder="ejemplo@email.com">
        </div>

        <!-- PASSWORD -->
        <div class="mb-6">
            <label class="block mb-2 font-semibold text-gray-700">
                Contraseña
            </label>
            <input type="password" [(ngModel)]="password"
                class="w-full px-4 py-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-cyan-700"
                placeholder="********">
        </div>

        <!-- BOTÓN -->
        <button (click)="login()" [disabled]="loading"
            class="w-full bg-cyan-900 text-white py-3 rounded-lg font-semibold hover:bg-cyan-800 transition">

            <span *ngIf="!loading">Ingresar</span>
            <span *ngIf="loading">Cargando...</span>

        </button>

    </div>

</section>