<section class="min-h-screen flex items-center justify-center bg-gray-100">

    <div class="bg-white shadow-xl rounded-2xl p-10 w-full max-w-md">

        <h2 class="text-3xl font-bold text-center text-cyan-900 mb-8">
            Crear Cuenta
        </h2>

        <!-- ERROR -->
        <div *ngIf="errorMessage" class="bg-red-100 text-red-600 p-3 rounded-lg mb-4 text-sm text-center">
            {{ errorMessage }}
        </div>

        <!-- SUCCESS -->
        <div *ngIf="successMessage" class="bg-green-100 text-green-600 p-3 rounded-lg mb-4 text-sm text-center">
            {{ successMessage }}
        </div>

        <!-- NOMBRE -->
        <div class="mb-5">
            <label class="block mb-2 font-semibold text-gray-700">
                Nombre
            </label>
            <input type="text" [(ngModel)]="name"
                class="w-full px-4 py-3 border rounded-lg focus:ring-2 focus:ring-cyan-700"
                placeholder="Tu nombre completo">
        </div>

        <!-- EMAIL -->
        <div class="mb-5">
            <label class="block mb-2 font-semibold text-gray-700">
                Correo electrónico
            </label>
            <input type="email" [(ngModel)]="email"
                class="w-full px-4 py-3 border rounded-lg focus:ring-2 focus:ring-cyan-700"
                placeholder="ejemplo@email.com">
        </div>

        <!-- PASSWORD -->
        <div class="mb-6">
            <label class="block mb-2 font-semibold text-gray-700">
                Contraseña
            </label>
            <input type="password" [(ngModel)]="password"
                class="w-full px-4 py-3 border rounded-lg focus:ring-2 focus:ring-cyan-700" placeholder="********">
        </div>

        <!-- BOTÓN -->
        <button (click)="register()" [disabled]="loading"
            class="w-full bg-cyan-900 text-white py-3 rounded-lg font-semibold hover:bg-cyan-800 transition">

            <span *ngIf="!loading">Registrarse</span>
            <span *ngIf="loading">Creando...</span>

        </button>

        <p class="text-center mt-6 text-sm">
            ¿Ya tienes cuenta?
            <a routerLink="/login" class="text-cyan-900 font-semibold hover:underline">
                Inicia sesión
            </a>
        </p>

    </div>

</section>